$bg-dark-chat: #222E35;
$bg-dark-searchbar: #202C33;
$bg-dark-contacts: #111B21;
$bg-dark-desktop-alerts: #182229;
$bg-dark-contacts-active: #2A3942;
$bg-dark-input-chat: #2A3942;
$bg-fa-bell-slash: #8edafc;
$bg-sent-message: #005C4B;
$text-secondary: rgb(134, 150, 160);
$text-title: rgba(233, 237, 239, 0.88);
$text-contacts: rgb(209, 215, 219);
$bg-body: #262524;