@use "./_variables.scss" as *;

@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

/* % CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* % UTILITIES */
.sticky {
    position: sticky;
    top: 0;
}

.text-small {
    font-size: .75em;
}

.text-md {
    font-size: .85em;
}

.text-lightgrey {
    color: #b1b1b1;
}

/* % Avatar Circle Img */
.img-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* % GENERAL */
a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

ul {
    list-style: none;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

time {
    font-size: .75em;
    color: #b1b1b1;
}

input:focus {
    outline: .1rem solid #a7a7a7;
}

.h-main {
    height: calc(100vh - 140px);
}

/* % Icons Style */
i {
    color: #b1b1b1;
    cursor: pointer;
}

/* % Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $bg-dark-scrollbar;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}